Source: python-nbxmpp
Section: python
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
XSBC-Orig-Maintainer: Debian XMPP Maintainers <pkg-xmpp-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 11), dh-python, python-all, python3-all, python3-gi
Standards-Version: 4.1.4
Rules-Requires-Root: no
Homepage: https://dev.gajim.org/gajim/python-nbxmpp
Vcs-Git: https://github.com/jabber-at/python-nbxmpp.git
Vcs-Browser: https://github.com/jabber-at/python-nbxmpp

Package: python-nbxmpp
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Recommends: python-openssl
Description: Non blocking Jabber/XMPP Python library
 python-nbxmpp is a Python library that provides a way for Python applications
 to use Jabber/XMPP networks in a non-blocking way. This library is initialy a
 fork of xmpppy one, but using non-blocking sockets.
 .
 This is the Python 2 version of this library.

Package: python3-nbxmpp
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-gi
Recommends: python3-openssl
Description: Non blocking Jabber/XMPP Python 3 library
 python-nbxmpp is a Python library that provides a way for Python applications
 to use Jabber/XMPP networks in a non-blocking way. This library is initialy a
 fork of xmpppy one, but using non-blocking sockets.
 .
 This is the Python 3 version of this library.

Package: python-nbxmpp-doc
Architecture: all
Section: doc
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Non blocking Jabber/XMPP Python library, documentation
 python-nbxmpp is a Python library that provides a way for Python applications
 to use Jabber/XMPP networks in a non-blocking way. This library is initialy a
 fork of xmpppy one, but using non-blocking sockets.
 .
 This is the documentation of this library.
