#!/usr/bin/make -f

#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export PYBUILD_NAME=nbxmpp

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_installdocs:
	dh_installdocs -ppython-nbxmpp-doc --doc-main-package=python-nbxmpp-doc
	dh_installdocs --remaining-packages
